* {
  margin: 0;
}

:root {
  --color1: #005874;
  --color2: #1c819e;
  --color3: #e6e6d4;
  --color4: #ffbe00;
  --color5: #1f1717;
  --green: #1a5d1a;
  --red: red;
  --white: whitesmoke;
  --black: #252a34;
}

body {
  color: var(--red);
  background-color: var(--black);
  font-family: sans-serif;
  width: 100vw;
  position: relative;
  height: 100vh;
  margin: 0;
  z-index: -2;
}

.input {
  background-color: var(--color5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 200ms;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color5);
  border-radius: 4px;
  background-color: var(--white);
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  box-shadow: inset 0px -0px 10px 1px var(--color2);
  border: #474444 1px solid;
  z-index: 3;
  opacity: 0.5;
}

.greeting {
  text-align: center;
  width: fit-content;
  padding: 1rem;
  background-color: var(--color1);
  color: var(--white);
  margin: 1rem auto;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Bebas Neue", sans-serif;
  border: var(--color2) 2px solid;
}

section {
  background-color: none;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  height: fit-content;
}

.time_section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  color: var(--white);
  height: fit-content;
}

.time_name {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -44%);
  color: var(--white);
  font-size: 5rem;
  opacity: 0.9;
  text-shadow: 0px 0px 3px rgb(12, 12, 12);
  text-transform: uppercase;
  font-family: "Comfortaa", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.work_time,
.rest_time,
.number_of_set,
.number_of_rounds,
.rest_time_between_sets {
  padding: 1.3rem;
  width: 100%;
  margin: 1rem auto;
  position: relative;
  height: 5rem;
  display: grid;
  gap: 10px;
  border-radius: 2px;
  border: var(--white) 1px solid;
}

.work_time,
.number_of_rounds,
.rest_time_between_sets {
  background-color: var(--color2);
}

.rest_time,
.number_of_set {
  background-color: var(--color4);
}

.wider {
  width: 3rem;
}

.clicked {
  box-shadow: none;
  width: 5rem;
  box-shadow: inset 0px -0px 15px 10px var(--red);
  opacity: 1;
  font-weight: 600;
  border: var(--green) solid 1px;
  box-sizing: border-box;
  color: var(--white);
  text-shadow: 0 0 2px var(--black);
  z-index: 3;
}

.start_section {
  display: grid;
  place-items: center;
  height: 5rem;
  background-color: none;
}

.start {
  width: 20rem;
  height: fit-content;
  background-color: var(--color2);
  color: var(--white);
  text-shadow: var(--color1) 0px 0px 7px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  border: var(--color3) 3px solid;
  box-shadow: inset 0px 0px 10px 3px #1c819e;
  box-shadow: none;
  opacity: 1;
  font-family: "Comfortaa", sans-serif;
}

.starth1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  transform: translateY(4px);
}

/* --------output----------- */

.output_section {
  width: 100%;
  max-width: 40rem;
  background-color: var(--color4);
  display: grid;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.time_out {
  position: relative;
  color: var(--color5);
  width: 160px;
  height: 160px;
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  zoom: 2;
  box-shadow: 4px 4px 10px -1px var(--color5),
    -4px -4px 20px -1px rgba(255, 255, 255, 0.7);
}

#sets {
  transition: 1500ms;
}

.time_in {
  color: #252525;
  width: 120px;
  height: 120px;
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
    -4px -4px 20px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    inset 4px 4px 6px -1px rgba(0, 0, 0, 0.15),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7);
}

.back {
  background-color: var(--red);
  margin: auto;
}

.time_counter {
  font-size: 40px;
  color: var(--green);
  text-transform: uppercase;
}

svg {
  fill: none;
  stroke: var(--green);
  stroke-width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  stroke-dasharray: 439.11236572265625;
  stroke-dashoffset: 439.11236572265625;
  rotate: -90deg;
  animation: none 0ms linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}
